.jumbotron
    .container
        h1 Hello, world!
        p Contents ... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?
        p
            a(href="#").btn.btn-primary.btn-large Learn more