<div class="row">
    <div class="col-md-10">
        <% flash.each do |messagetype, message| %>
            <div class="alert alert-<%= messagetype %>">
                <%= message %>
                <a class="close" data-dismiss="alert">&#215;</a>
            </div>
        <% end  %>

    </div>
</div>